{% extends "header.html" %}
{% load static djng_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en" ng-app="aggregator">
<head>
    <title>Search</title>
</head>
<body>
{% addtoblock "css" %}
asfdsfsjdsifjdsfj
{% endaddtoblock %}
{% block content %}
{{block.super}}
<form name="search_form" action="/results_collector/get_data/" method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Submit" />
    <br>
    <a href="/add_search_place/">Add New Search Place</a>
</form>
{% endblock %}
</body>
</html>
